.checkbox-item {
  position: relative;
  padding-left: 35px;
  color: #3b4452;
  &:before {
    transition: box-shadow 0.3s ease 0s;
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 2px;
    left: 0px;
    top: 2px;
  }
  &.selected {
    &:before {
      box-shadow: rgb(110 106 255) 0px 0px 0px 20px inset;
    }
  }
}
.custom-select {
  > div {
    border: 1px solid #dedede;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 6px;
    background: #fdfdfd;
    cursor: pointer;
    .css-1okebmr-indicatorSeparator {
      display: none;
    }
  }
}
